CONFIG_TARGET_ipq50xx=y
CONFIG_TARGET_ipq50xx_arm=y
CONFIG_TARGET_ipq50xx_arm_DEVICE_redmi_ax3000=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_openconnect=y
CONFIG_PACKAGE_luci-proto-openconnect=y
CONFIG_PACKAGE_luci-app-n2n=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
